p {
    text-align: none;
    color: rgb(0, 41, 137);
  }



/* foto profil */
.right-text {
    position: right;
}
/* end foto profil */

.profile {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
}



.taskbar {
    background-color: rgb(0, 0, 155);
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.taskbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.taskbar nav ul li {
    display: inline;
    margin: 0 15px;
}

.taskbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.taskbar nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding-top: 60px; /* Memberikan ruang untuk taskbar tetap */
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #720d0d;
    margin-top: 20px;
}

.divider {
    border: none;
    border-left: 2px solid white;
    height: 40px;
    margin: 0 15px;
}
